# .gitignore
.vscode/
/.vscode
env/
pyrightconfig.json

# Data
downloads/
fisbe/
*.h5j
*.tif
metrics/
papers/

*.h5j
*.tif
*.swc

/data
/skeletons
/volumes
/__pycache__
__pycache__
*.DS_Store

# BiaPy
BiaPy/results

# PatchPerPix
PatchPerPix/experiments/ppp_experiments/

# Web viewer
web/client/node_modules/
web/client/dist/
web/server/.venv/
web/server/__pycache__/
/.vscode
/papers

.ipynb_checkpoints
