# .gitignore
.vscode/
/.vscode
env/
pyrightconfig.json

# Data
downloads/
fisbe/
*.h5j
*.tif
metrics/

/data
/skeletons
/__pycache__
__pycache__
*.DS_Store

# BiaPy
BiaPy/results

# PatchPerPix
PatchPerPix/experiments/ppp_experiments/

# Web viewer
web/client/node_modules/
web/client/dist/
web/server/.venv/
web/server/__pycache__/
